// Form fields
mat-form-field,
cs-action-form,
.action-btn-container,
.actions-container {
  padding: 0.3rem;
}

form.ng-invalid,
mat-select.ng-invalid {
  border-left: none !important;
}

input.cs-grow {
  text-align: center;
  font-size: 1.5rem;
}

// Mat Slider
:host ::ng-deep .mat-mdc-slider.mdc-slider.cs-grow-slider {
  width: 100%;
  margin-top: 15px;
  padding-bottom: 0;
  height: 20px;
}

:host ::ng-deep .mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: #ffd740;
    --mdc-slider-focus-handle-color: #ffd740;
    --mdc-slider-hover-handle-color: #ffd740;
    --mdc-slider-with-tick-marks-active-container-color: #212529;
    --mdc-slider-with-tick-marks-inactive-container-color: #212529;
    --mat-mdc-slider-hover-ripple-color: rgba(0,0,0,0);
    --mat-mdc-slider-focus-ripple-color: rgba(0,0,0,0);
}

// Change style of active track
:host ::ng-deep .mat-primary .mdc-slider__track--active_fill {
    background-color: #ffd740;
    border: 0px solid #FFFFFF !important; /* Removes border from active track */
    border-radius: 3px;
}

:host ::ng-deep .mat-primary .mdc-slider__track--active {
    height: 10px;
}

// Change style of inactive track
:host ::ng-deep .mat-primary .mdc-slider__track--inactive {
    background-color: rgba(0, 0, 0, .26)!important;
    border-radius: 3px;
    height: 10px;
}

// Change style of thumb
:host ::ng-deep .mat-primary .mdc-slider__thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

:host ::ng-deep .mat-mdc-slider .mdc-slider__thumb-knob {
    background-color: #ffd740;
    border-color: #ffd740;
}

:host ::ng-deep .mdc-slider .mdc-slider__value-indicator-container {
    bottom: 30px;
}

:host ::ng-deep .mat-mdc-slider .mdc-slider__tick-marks {
  padding-top: 5px;
}

// Modal
:host ::ng-deep .edit-assessment-modal {
  .mat-dialog-container {
    padding: 0 !important;
    overflow-x: hidden;
  }

  .mat-horizontal-content-container {
    padding: 0 !important;
  }
}

.mat-dialog-title {
  margin-bottom: 0 !important;
}

.modal-header,
.modal-footer {
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.mat-dialog-content {
  margin: 0;
  padding: 0;
}

.modal-body {
  height: 55vh;
  min-height: 20vh;
  overflow-y: auto;
}
