<div class="card">
  <div class="card-header">
    <h3>
      <mat-icon fontSet="fa" fontIcon="fa-leaf"></mat-icon>
      Fiche détaillée du taxon :
      <span [innerHTML]="taxon?.displayFullName ? taxon?.displayFullName : displayFullName"></span>
      <div class="territory">
        Territoire :
        <span [innerHTML]="taxon?.territoryName"></span>
      </div>
    </h3>
  </div>
  <div class="card-body">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
        routerLink="infos"
        routerLinkActive
        #rlaInfos="routerLinkActive"
        [active]="rlaInfos.isActive"
      >
        <mat-icon fontSet="fa" fontIcon="fa-info-circle"></mat-icon>
        Informations générales
      </a>

      <a mat-tab-link
        routerLink="assessments"
        routerLinkActive
        #rlaAssessment="routerLinkActive"
        [active]="rlaAssessment.isActive"
      >
        <mat-icon fontSet="fa" fontIcon="fa-heartbeat"></mat-icon>
        Fiches bilan stationnel
      </a>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>
