<div class="card">
  <div class="card-header">
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        routerLink="/conservation_strategy"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        #rlaHome="routerLinkActive"
        [active]="rlaHome.isActive"
      >
        <h3 class="h4">
          <mat-icon fontSet="fa" fontIcon="fa-home"></mat-icon>
          Accueil
        </h3>
      </a>
      <a
        mat-tab-link
        routerLink="/conservation_strategy/priority-taxa"
        routerLinkActive
        #rlaPriorityTaxa="routerLinkActive"
        [active]="rlaPriorityTaxa.isActive"
      >
        <h3 class="h4">
          <mat-icon fontSet="fa" fontIcon="fa-list"></mat-icon>
          Taxons prioritaires
        </h3>
      </a>
      <a
        mat-tab-link
        routerLink="/conservation_strategy/planning"
        routerLinkActive
        #rlaPlanning="routerLinkActive"
        [active]="rlaPlanning.isActive"
      >
        <h3 class="h4">
          <mat-icon fontSet="fa" fontIcon="fa-calendar"></mat-icon>
          Planning
        </h3>
      </a>
    </nav>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>
