<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <form>
      <fieldset>
        <h5>Filtres</h5>

        <mat-form-field>
          <mat-label>Type de tâche</mat-label>
          <mat-select
            name="type"
            [formControl]="filtersForm.controls.taskFilter"
            (selectionChange)="onTaskTypeFilterChanged($event)"
          >
            <mat-option value="assessment">Bilans Stationnels</mat-option>
            <mat-option value="action">Actions</mat-option>
          </mat-select>
          <button
            mat-button
            *ngIf="filtersForm.controls.taskFilter.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="onTaskTypeFilterCleared($event)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field
          *ngIf="
            $progressStatus | async as progressStatusList;
            else noProgressStatus
          "
        >
          <mat-label>État d'avancement</mat-label>
          <mat-select
            name="progressStatus"
            [formControl]="filtersForm.controls.statusFilter"
            (selectionChange)="onStatusFilterChanged($event)"
          >
            <mat-option
              *ngFor="let progressStatus of progressStatusList"
              [value]="progressStatus.code"
            >
              {{ progressStatus.label }}
            </mat-option>
          </mat-select>
          <button
            mat-button
            *ngIf="filtersForm.controls.statusFilter.value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="onStatusFilterCleared($event)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <ng-template #noProgressStatus>
          <p>Aucun état d'avancement</p>
        </ng-template>

        <mat-form-field
          *ngIf="$organisms | async as organisms; else noOrganisms"
        >
          <mat-label>Organismes</mat-label>
          <mat-select
            [formControl]="filtersForm.controls.organismFilter"
            (selectionChange)="onOrganismChanged($event)"
            multiple
          >
            <mat-option
              *ngFor="let organism of organisms"
              [value]="organism.id"
            >
              {{ organism.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <ng-template #noOrganisms>
          <p>Aucun organisme</p>
        </ng-template>
      </fieldset>
    </form>
  </mat-drawer>

  <mat-drawer-content>
    <div class="cs-tasks-datatable-progress-bar-container">
      <mat-progress-bar
        mode="query"
        *ngIf="dataSource.loading$ | async"
      ></mat-progress-bar>
    </div>
    <div
      #dataTableContainer
      class="mat-elevation-z8"
      [ngStyle]="{ height: dataTableHeight + 'px' }"
    >
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="date"
        matSortDirection="desc"
        matSortDisableClear
      >
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Type de tâche
          </th>
          <td mat-cell *matCellDef="let task">
            <span [ngSwitch]="task.type">
              <ng-container *ngSwitchCase="'action'">Action</ng-container>
              <ng-container *ngSwitchCase="'assessment'"
                >Bilan Stationnel</ng-container
              >
              <ng-container *ngSwitchDefault>{{ task.type }}</ng-container>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="taxonName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Taxon prioritaire
          </th>
          <td mat-cell *matCellDef="let task">
            <i>{{ task.taxonName }}</i>
          </td>
        </ng-container>

        <ng-container matColumnDef="territoryName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Territoire
          </th>
          <td mat-cell *matCellDef="let task">{{ task.territoryName }}</td>
        </ng-container>

        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Actions à mener
          </th>
          <td mat-cell *matCellDef="let task">{{ task.label }}</td>
        </ng-container>

        <ng-container matColumnDef="progressStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            État d'avancement
          </th>
          <td mat-cell *matCellDef="let task">{{ task.progressStatus }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Date
          </th>
          <td mat-cell *matCellDef="let task">
            {{ task.date | date: "mediumDate":null:"fr" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let task">
            <div class="d-flex justify-content-end flex-wrap">
              <button
                mat-icon-button
                matRipple
                matTooltip="Voir la fiche détaillée du bilan stationnel."
                [routerLink]="detectTypeOfTask(task)"
              >
                <mat-icon>description</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{
            'bg-success': row.code == 'pl',
            'bg-warning': row.code == 'c',
            'bg-danger': row.code == 'pr'
          }"
        ></tr>
      </table>

      <mat-paginator
        class="mat-paginator-sticky"
        showFirstLastButtons
        [length]="dataSource.itemsCount$ | async"
        [pageSize]="20"
        [pageSizeOptions]="[10, 20, 50]"
      ></mat-paginator>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
