mat-drawer-container {
  flex: 1 1 auto;
  min-height: 300px;
}

mat-drawer {
    // Allow the drop-down list to display its contents over mat-drawer
  overflow-y: unset;
  width: 250px;
}

.mat-paginator-sticky {
  bottom: 0;
  position: sticky;
  z-index: 10;
}

:host ::ng-deep .mat-drawer-inner-container {
  // Allow the drop-down list to display its contents over mat-drawer
  overflow: unset ;
}

.mat-row {
  &.bg-success {
    background-color: #bde7bd;
  }
  &.bg-warning {
    background-color: #ffe08e;
  }
  &.bg-danger {
    background-color: #ffb6b3;
  }
}

table {
  width: 100%;
}
