fieldset {
  padding: 0.35em 0.625em 0.75em !important;
  border: 1px solid silver !important;
  margin: 0 2px !important;
  border-radius: 3px;
}

legend {
  width: auto;
  font-size: inherit;
}

.mat-mdc-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
  text-align: center;
}

// Mat Slider
:host ::ng-deep .mat-mdc-slider.mdc-slider.cs-grow-slider {
  width: 100%;
  height: 20px;
}

:host ::ng-deep .mat-mdc-slider.mat-primary {
  --mdc-slider-handle-color: #ffd740;
  --mdc-slider-focus-handle-color: #ffd740;
  --mdc-slider-hover-handle-color: #ffd740;
  --mdc-slider-with-tick-marks-active-container-color: #212529;
  --mdc-slider-with-tick-marks-inactive-container-color: #212529;
  --mat-mdc-slider-hover-ripple-color: rgba(0, 0, 0, 0);
  --mat-mdc-slider-focus-ripple-color: rgba(0, 0, 0, 0);
}

// Change style of active track
:host ::ng-deep .mat-primary .mdc-slider__track--active_fill {
  background-color: #ffd740;
  border: 0px solid #ffffff !important; /* Removes border from active track */
  border-radius: 3px;
}

:host ::ng-deep .mdc-slider .mdc-slider__value-indicator {
  transform: scale(1);
  background-color: #ffd740;
}

:host ::ng-deep .mdc-slider .mdc-slider__value-indicator-container {
  background-color: #ffd740;
}

:host ::ng-deep .mat-mdc-slider {
  --mdc-slider-label-container-color: #ffc107;
  --mdc-slider-label-label-text-color: black;
}
