<div *ngIf="stats | async as stats; else noStats">
  <div class="container-fluid">
    <div class="row">
      <div class="col-7">
        <mat-card>
          <fieldset>
            <legend>
              <mat-icon>tune</mat-icon>
              Filtres
            </legend>
            <form
              [formGroup]="statsForm"
              class="d-flex justify-content-around align-middle pb-2"
            >
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Date de début"
                  formControlName="dateStart"
                  (dateChange)="loadStats()"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint>Date du jour par défaut</mat-hint>
              </mat-form-field>
              <mat-card class="d-flex flex-row align-items-center">
                <mat-label class="pr-2"
                  >Nombre d'années à prendre en compte :</mat-label
                >
                <mat-slider
                  [min]="1"
                  [max]="6"
                  thumbLabel
                  showTickMarks
                  discrete
                >
                  <input
                    matSliderThumb
                    (valueChange)="loadStats()"
                    formControlName="nbYear"
                  />
                </mat-slider>
              </mat-card>
            </form>
          </fieldset>
          <mat-card>
            <mat-card-header>
              <mat-card-title> Synthèse des prospections </mat-card-title>
            </mat-card-header>
            <table
              class="table table-sm table-striped table-bordered table-hover mb-4"
            >
              <thead>
                <tr>
                  <th scope="col">Département(s)</th>
                  <th scope="col">Communes(s)</th>
                  <th scope="col">Observateur(s)</th>
                  <th
                    scope="col"
                    matTooltip="Identifiant des Zones de prospection"
                  >
                    Id ZP
                  </th>
                  <th scope="col">Nb d'aires de présence</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let prospection of stats.prospections">
                  <td>{{ prospection.departements }}</td>
                  <td>{{ prospection.municipality }}</td>
                  <td>{{ prospection.observers }}</td>
                  <td>{{ prospection.id }}</td>
                  <td>{{ prospection.presenceAreaNb }}</td>
                </tr>
              </tbody>
            </table>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title> État des populations </mat-card-title>
            </mat-card-header>
            <table
              class="table table-sm table-striped table-bordered table-hover mb-4"
            >
              <thead>
                <tr>
                  <th scope="col">Communes(s)</th>
                  <th
                    scope="col"
                    matTooltip="Identifiant des Zones de prospection"
                  >
                    Id ZP
                  </th>
                  <th
                    scope="col"
                    matTooltip="Identifiant des Aires de présence"
                  >
                    Id AP
                  </th>
                  <th scope="col" matTooltip="Surface des Aires de présence">
                    Surface AP
                  </th>
                  <th
                    scope="col"
                    matTooltip="Estimation en termes de recouvrement"
                  >
                    Fréquence d'occurence
                  </th>
                  <th scope="col">Méthode d'estimation</th>
                  <th scope="col">Effectifs</th>
                  <th scope="col">Type de comptage</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let population of stats.populations">
                  <td>{{ population.municipality }}</td>
                  <td>{{ population.idZp }}</td>
                  <td>{{ population.idAp }}</td>
                  <td>{{ population.areaAp }}</td>
                  <td>
                    {{ population.occurrenceFrequency | number: "1.0-2":"fr" }}
                    %
                  </td>
                  <td>{{ population.estimateMethod }}</td>
                  <td>{{ population.count }}</td>
                  <td>{{ population.countingType }}</td>
                </tr>
              </tbody>
            </table>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title> État des habitats </mat-card-title>
            </mat-card-header>
            <table
              class="table table-sm table-striped table-bordered table-hover mb-4"
            >
              <thead>
                <tr>
                  <th
                    scope="col"
                    matTooltip="Identifiant des Aires de présence"
                  >
                    Id AP
                  </th>
                  <th scope="col">Type d'habitat</th>
                  <th scope="col">État de conservation</th>
                  <th scope="col">Perturbations</th>
                  <th scope="col">Évaluation de la menace</th>
                  <!-- <th scope="col">Type de gestion</th> -->
                  <!-- <th scope="col">Évaluation de la gestion</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let habitat of stats.habitats">
                  <td>{{ habitat.idAp }}</td>
                  <td>{{ habitat.habitatType }}</td>
                  <td>{{ habitat.conservationStatus }}</td>
                  <td>{{ habitat.perturbationType }}</td>
                  <td>{{ habitat.threatLevel }}</td>
                  <!-- <td>{{habitat.}}</td> -->
                  <!-- <td>{{habitat.}}</td> -->
                </tr>
              </tbody>
            </table>
          </mat-card>
        </mat-card>
      </div>
      <div class="col-5">
        <div class="row justify-content-around pt-4">
          <div class="col px-md-5">
            <mat-card>
              <b class="justify-content-center">
                <span *ngIf="stats.calculations.nbStations; else noStations">
                  {{ stats.calculations.nbStations }} stations
                </span>
                <ng-template #noStations>
                  Aucune station renseignée.
                </ng-template>
              </b>
            </mat-card>
          </div>
          <div class="col px-md-5">
            <mat-card>
              <b class="justify-content-center">
                <span
                  *ngIf="stats.calculations.areaPresence; else noAreaPresence"
                >
                  {{ stats.calculations.areaPresence }} m² d'aire de présence
                </span>
                <ng-template #noAreaPresence>
                  Aucune donnée d'aire de présence.
                </ng-template>
              </b>
            </mat-card>
          </div>
          <div class="col px-md-5">
            <mat-card>
              <b class="justify-content-center">
                <span
                  *ngIf="stats.calculations.threatLevel; else noThreatLevelData"
                >
                  {{ stats.calculations.threatLevel | number: "1.0-2":"fr" }} %
                  stations menacées
                </span>
                <ng-template #noThreatLevelData>
                  Aucune donnée de station menacée.
                </ng-template>
              </b>
            </mat-card>
          </div>
          <div class="row justify-content-around pt-4">
            <!-- <div class="col px-md-5">
            <mat-card>
              <b class="justify-content-center"> % stations à gestion favorable </b>
            </mat-card>
          </div> -->
            <div class="col px-md-5">
              <mat-card>
                <b class="justify-content-center">
                  <span
                    *ngIf="
                      stats.calculations.haitatFavorable;
                      else noHabitatFavorableData
                    "
                  >
                    {{ stats.calculations.threatLevel | number: "1.0-2":"fr" }}
                    % stations menacées
                  </span>
                  <ng-template #noHabitatFavorableData>
                    Aucune donnée d'habitat favorable.
                  </ng-template>
                </b>
              </mat-card>
            </div>
          </div>
          <!-- <div class="row justify-content-around pt-4"> -->
          <!-- <div class="col px-md-5">
            <mat-card>
              <b class="justify-content-center"> % stations réglementairement protégées </b>
            </mat-card>
          </div> -->
          <!-- <div class="col px-md-5">
            <mat-card>
              <b class="justify-content-center"> % stations foncièrement protégées </b>
            </mat-card>
          </div> -->
          <!-- <div class="row justify-content-around pt-4">
          <div class="col px-md-5">
            <mat-card>
              <b class="justify-content-center"> Dynamique des populations </b>
            </mat-card>
          </div>
        </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noStats>
  <p>
    <mat-icon inline>info</mat-icon>
    Aucune statistique pour ce taxon prioritaire.
  </p>
</ng-template>
