// Generic
.truncate {
  max-width: 40vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Expansion panel
mat-card,
mat-expansion-panel-header {
  &.bg-success {
    background-color: #bde7bd !important;
  }
  &.bg-warning {
    background-color: #ffe08e !important;
  }
  &.bg-danger {
    background-color: #ffb6b3 !important;
  }
}

// Card
.mat-card-content,
.cs-big-text {
  font-size: 20px;
}

:host ::ng-deep .mat-card-header-text {
  margin-left: 0;
}

.mat-card-header .mat-card-title,
.cs-small-text {
  font-size: 14px;
}

.cs-text {
  white-space: pre-wrap;
}
