<div class="container-fluid" *ngIf="assessmentDetail | async as assessment">
  <div class="row">
    <mat-card class="col mr-3 mb-3">
      <mat-card-header>
        <mat-icon mat-card-avatar>event_note</mat-icon>
        <mat-card-title>Date de création</mat-card-title>
      </mat-card-header>
      <mat-card-content
        class="text-center"
        [matTooltip]="assessment.assessmentDate | date: 'medium':undefined:'fr'"
      >
        {{ assessment.assessmentDate | date: "longDate":undefined:"fr" }}
      </mat-card-content>
    </mat-card>

    <mat-card class="col mr-md-3 mb-3" *ngIf="assessment.nextAssessmentYear">
      <mat-card-header>
        <mat-icon mat-card-avatar>pending_actions</mat-icon>
        <mat-card-title>Futur bilan en ...</mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center">
        {{ assessment.nextAssessmentYear }}
      </mat-card-content>
    </mat-card>

    <mat-card class="col mb-3">
      <mat-card-header>
        <mat-icon mat-card-avatar>info</mat-icon>
        <mat-card-title>Enregistrement</mat-card-title>
      </mat-card-header>
      <mat-card-content
        *ngIf="assessment.metaUpdateDate > assessment.metaCreateDate ; else createInfos"
        class="cs-small-text d-flex flex-sm-row flex-lg-column"
      >
        <div class="flex-fill">
          Édité par <b>{{ assessment.metaUpdateBy }}</b>
          <br />
          le
          <b>{{ assessment.metaUpdateDate | date: "medium":undefined:"fr" }}</b>
          <br />
        </div>
        <div class="flex-fill text-muted font-italic small">
          Créé
          <span *ngIf="assessment.metaCreateBy != assessment.metaUpdateBy">
            par {{ assessment.metaCreateBy }}
          </span>
          le  {{ assessment.metaCreateDate | date: "medium":undefined:"fr" }}
        </div>
      </mat-card-content>
      <ng-template #createInfos>
        <mat-card-content class="cs-small-text">
          Créé par <b>{{ assessment.metaCreateBy }}</b>
          <br />
          le
          <b>{{ assessment.metaCreateDate | date: "medium":undefined:"fr" }}</b>
        </mat-card-content>
      </ng-template>
    </mat-card>
  </div>

  <div class="row mb-3" *ngIf="assessment.description">
    <mat-card class="col">
      <mat-card-header>
        <mat-icon mat-card-avatar>description</mat-icon>
        <mat-card-title>Description</mat-card-title>
      </mat-card-header>
      <mat-card-content
        class="cs-text"
        [class.cs-small-text]="assessment.description.length > 225"
      >{{ assessment.description }}</mat-card-content>
    </mat-card>
  </div>

  <div class="row mb-3" *ngIf="assessment.threats">
    <mat-card class="col">
      <mat-card-header>
        <mat-icon mat-card-avatar>feedback</mat-icon>
        <mat-card-title>Menaces</mat-card-title>
      </mat-card-header>
      <mat-card-content
        class="cs-text"
        [class.cs-small-text]="assessment.threats.length > 225"
      >{{ assessment.threats }}</mat-card-content>
    </mat-card>
  </div>

  <div class="row mb-3" *ngIf="assessment.actions; else noAction">
    <mat-accordion class="col px-0">
      <mat-expansion-panel
        *ngFor="let action of assessment.actions; let actionNumber = index"
        [expanded]="action.id == actionIdSelected"
        (opened)="goToAction(action.id)"
        (closed)="resetActionList(action.id)"
      >
        <mat-expansion-panel-header
          [ngClass]="{
            'bg-success': action.progressCode == 'pl',
            'bg-warning': action.progressCode == 'c',
            'bg-danger': action.progressCode == 'pr'
          }"
        >
          <mat-panel-title>
            <h5>Action # {{ actionNumber + 1 }}</h5>
          </mat-panel-title>
          <mat-panel-description class="d-flex justify-content-between">
            <span class="truncate">
              <span>{{ action.level }}</span>
              <span *ngIf="action.level && action.type">&nbsp;-&nbsp;</span>
              <span>{{ action.type }}</span>
              <span *ngIf="action.type">&nbsp;</span>
              <span *ngIf="(action.progress && action.level) || action.type">
                &nbsp;-&nbsp;
              </span>
              <span>{{ action.progress }}</span>
            </span>

            <mat-icon *ngIf="action.progressCode == 'pr'">event_busy</mat-icon>
            <mat-icon *ngIf="action.progressCode == 'c'">event</mat-icon>
            <mat-icon *ngIf="action.progressCode == 'pl'">
              event_available
            </mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row my-3">
          <mat-card class="col mr-3">
            <mat-card-header>
              <mat-icon mat-card-avatar>public</mat-icon>
              <mat-card-title>Niveau géographique</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              {{ action.level }}
            </mat-card-content>
          </mat-card>

          <mat-card class="col">
            <mat-card-header>
              <mat-icon mat-card-avatar>build</mat-icon>
              <mat-card-title>Type d'action</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              {{ action.typeDefinition }}
            </mat-card-content>
          </mat-card>
        </div>

        <div class="row mb-3">
          <mat-card class="col mr-3">
            <mat-card-header>
              <mat-icon mat-card-avatar>view_timeline</mat-icon>
              <mat-card-title>État d'avancement</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              {{ action.progress }}
            </mat-card-content>
          </mat-card>

          <mat-card class="col" *ngIf="action.progressCode == 'pr'">
            <mat-card-header>
              <mat-icon mat-card-avatar>event_busy</mat-icon>
              <mat-card-title>Prévue pour ...</mat-card-title>
            </mat-card-header>
            <mat-card-content class="text-center">
              {{ action.planFor }}
            </mat-card-content>
          </mat-card>

          <mat-card class="col" *ngIf="action.progressCode == 'c'">
            <mat-card-header>
              <mat-icon mat-card-avatar>event</mat-icon>
              <mat-card-title>Début le ...</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              {{ action.startingDate | date: "longDate":undefined:"fr" }}
            </mat-card-content>
          </mat-card>

          <mat-card class="col" *ngIf="action.progressCode == 'pl'">
            <mat-card-header>
              <mat-icon mat-card-avatar>event_available</mat-icon>
              <mat-card-title>Mis en place le ...</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              {{ action.implementationDate | date: "longDate":undefined:"fr" }}
            </mat-card-content>
          </mat-card>
        </div>

        <div class="row mb-3" *ngIf="action.description">
          <mat-card class="col">
            <mat-card-header>
              <mat-icon mat-card-avatar>description</mat-icon>
              <mat-card-title>Description de l'action</mat-card-title>
            </mat-card-header>
            <mat-card-content
              class="cs-text"
              [class.cs-small-text]="action.description.length > 225"
            >
              {{ action.description }}
            </mat-card-content>
          </mat-card>
        </div>

        <div class="row" *ngIf="action.partners">
          <mat-card class="col">
            <mat-card-header>
              <mat-icon mat-card-avatar>group_work</mat-icon>
              <mat-card-title>Partenaires de l'action</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              {{ action.partners | pluck: "name" | join: ", " }}
            </mat-card-content>
          </mat-card>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<ng-template #noAction>
  <div class="row">
    <mat-card class="col bg-warning">
      <mat-card-header>
        <mat-icon mat-card-avatar>warning</mat-icon>
        <mat-card-title>Actions</mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center">
        Cette fiche bilan stationnel ne possède pas d'action.
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
